body {
  min-height: 100vh;
  background-color: $cmpBlueD;
}

// UTILITY CLASSES

.hide {
  display: none;
}

.inactive {
	pointer-events: none;

	&:hover {
		cursor: default;
	}
}

// STYLE CLASSES

.q0 {
	color: $q0;
}

.q1 {
	color: $q1;
}

.q2 {
	color: $q2;
}

.q3 {
	color: $q3;
}

.q4 {
	color: $q4;
}

.q5 {
	color: $q5;
}

.q6 {
	color: $q6;
}

.q7 {
	color: $q7;
}

.neg {
	color: $neg;
}

.pos {
	color: $pos;
}
