html {
	font-size: 62.5%;
}

a, body, button, div, h1, h2, input, select, ul {
  margin: 0;
  padding: 0;
  border: 0;
	border-radius: 0;
  box-sizing: border-box;
}

a, div, h2, li, nav, span {
  @include flex;
}

a:hover, button:hover {
  cursor: pointer;
}

a {
	text-decoration: none;
}

button:focus {
	outline: none;
}
