// SIZING

$navBarHeight: 7.5rem;
$pagePadding: 5rem;
$itemHeight: 5rem;
$itemListPadding: 2rem;

// COLOURS

$q0: #9d9d9d;
$q1: #ffffff;
$q2: #a5ff99;
$q3: #4980f8;
$q4: #bf72f3;
$q5: #ffa64d;
$q6: #99ebff;
$q7: #ffcc00;

$pos: #00cc66;
$neg: #ff6347;

// MIXINS

@mixin flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin pageWrap() {
	min-width: 100vw;
	margin-top: $navBarHeight;
	padding: $pagePadding;
}

@mixin itemListWrap() {
	width: 75rem;
	padding: $itemListPadding;
	border-radius: .4rem;
	background-color: #222;

	&:not(:last-child) {
		margin-bottom: 2rem;
	}
}

@mixin itemListItem() {
	width: 100%;
	height: $itemHeight;
	border-radius: .3rem;
}
