@import 'global';

$navBarPadding: 1.25rem;

.main-nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;

	width: 100vw;
	height: $navBarHeight;
	padding: $navBarPadding;

	background-color: #373e48;
	box-shadow: 0 0 1.5rem .1rem black;

	.nav-left {
		position: absolute;
		top: 0;
		left: 0;

		padding: $navBarPadding;
	}

	.nav-link {
		height: $navBarHeight - ($navBarPadding * 2);
		margin-right: $navBarPadding;
		padding: .75rem;

		color: white;
		background-color: #21252b;
		border-radius: .4rem;
		font: 2.5rem DinMC;
		text-transform: uppercase;

		svg {
			height: 100%;
			width: 100%;
		}
	}

	.home-btn {
		width: $navBarHeight - ($navBarPadding * 2);
	}

	.category-nav {
		width: 44rem;
		justify-content: space-between;

		h1 {
			color: white;
			font: 5rem DinMC;
			text-transform: uppercase;
		}

		a {
			height: 4rem;
			width: 4rem;

			svg {
				width: 100%;
				height: 100%;
				color: white;
			}
		}
	}
}
