@font-face {
  font-family: DinB;
  src: url("../fonts/dinBold.otf"); }

@font-face {
  font-family: DinM;
  src: url("../fonts/dinMedium.otf"); }

@font-face {
  font-family: DinR;
  src: url("../fonts/dinRegular.otf"); }

@font-face {
  font-family: DinL;
  src: url("../fonts/dinLight.otf"); }

html {
  font-size: 62.5%; }

body, div {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  box-sizing: border-box; }

a, div, nav {
  display: flex;
  justify-content: center;
  align-items: center; }

a:hover, button:hover {
  cursor: pointer; }

a {
  text-decoration: none; }

body {
  min-height: 100vh;
  background-color: #21252b; }

.hide {
  display: none; }

.q0 {
  color: #9d9d9d; }

.q1 {
  color: #ffffff; }

.q2 {
  color: #a5ff99; }

.q3 {
  color: #4980f8; }

.q4 {
  color: #bf72f3; }

.q5 {
  color: #ffa64d; }

.q6 {
  color: #99ebff; }

.q7 {
  color: #ffcc00; }
