/* RESET */

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  background-color: #21252b;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

label:hover {
  cursor: pointer;
}

/* UTILITY CLASSES */

.hide {
  display: none;
}

.inactive {
  pointer-events: none;
}

.inactive:hover {
  cursor: default;
}

/* FONTS */

@font-face {
  font-family: DinBC;
  src: url('../fonts/DinBoldC.otf');
}

@font-face {
  font-family: DinMC;
  src: url('../fonts/DinMediumC.otf');
}

@font-face {
  font-family: DinRC;
  src: url('../fonts/DinRegularC.otf');
}

@font-face {
  font-family: DinLC;
  src: url('../fonts/DinLightC.otf');
}

@font-face {
  font-family: DinB;
  src: url('../fonts/DinBold.otf');
}

@font-face {
  font-family: DinM;
  src: url('../fonts/DinMedium.otf');
}

@font-face {
  font-family: DinR;
  src: url('../fonts/DinRegular.otf');
}

@font-face {
  font-family: DinL;
  src: url('../fonts/DinLight.otf');
}
