// VARS

@import 'global';

$inputHeight: 4rem;
$boxPadding: 2rem;

// STYLING

.import-page {
	padding: $pagePadding;
}

.char-sctn {
	h2 {
		justify-content: flex-start;
		margin-bottom: $boxPadding * .25;
		color: white;
		font: 4rem DinR;
	}

	> div {
		width: 70rem;
		padding: $boxPadding;

		border-radius: .4rem;
		background-color: #333;
	}

	.char-inputs {
		flex-wrap: wrap;
		flex-grow: 1;

		select, input {
			height: $inputHeight;

			border-radius: .3rem;
			font: 2.25rem DinM;
		}

		select {
			&:first-child {
				width: 10rem;
				margin-right: $boxPadding * .5;
			}

			&:nth-child(2) {
				flex-grow: 1;
			}
		}

		input {
			width: 100%;
			margin-top: $boxPadding * .5;
			padding: .8rem;
		}
	}

	button {
		height: ($inputHeight * 2) + ($boxPadding * .5);
		width: ($inputHeight * 2) + ($boxPadding * .5);
		margin-left: $boxPadding;

		border-radius: .4rem;
		background-color: #444;
	}
}
