@import 'global';

.item-list-wrap {
	flex-direction: column;

	.item-list {
		@include itemListWrap;

		flex-direction: column;

		> span {
			font: 2.5rem DinRC;
			color: white;
		}
	}
}

$itemPadding: .5rem;
$iconSize: $itemHeight - ($itemPadding * 2);

.item {
	@include itemListItem;

	justify-content: space-between;

	height: $itemHeight;
	padding: $itemPadding;

	background-color: #333;

	&:not(:last-child) {
		margin-bottom: 1rem;
	}

	&:hover {
		cursor: pointer;
		background-color: #444;
	}

	i {
		height: $iconSize;
		width: $iconSize;
		margin-right: $itemPadding * 2;

		border-radius: .4rem;
		background-size: cover;
		background-color: #222;
	}

	span {
		flex-grow: 1;

		font: 2.25rem DinRC;
	}

	div {
		height: $iconSize;
		width: $iconSize;
		padding: .5rem;

		border-radius: .4rem;
		background-color: #222;

		svg {
			height: 100%;
			width: 100%;

			border-radius: 100%;
		}
	}
}
