.item-list {
	flex-direction: column;

	width: 75rem;
	padding: 2rem;

	background-color: #222;
}

$itemHeight: 5rem;
$itemPadding: .5rem;
$iconSize: $itemHeight - ($itemPadding * 2);

.item {
	justify-content: space-between;

	height: $itemHeight;
	padding: $itemPadding;

	border-radius: .3rem;
	background-color: #333;

	&:not(:last-child) {
		margin-bottom: 1rem;
	}

	&:hover {
		cursor: pointer;
		background-color: #444;
	}

	i {
		height: $iconSize;
		width: $iconSize;
		margin-right: $itemPadding * 2;

		border-radius: .4rem;
		background-size: cover;
		background-color: #222;
	}

	span {
		flex-grow: 1;

		font: 2.25rem DinRC;
	}

	div {
		height: $iconSize;
		width: $iconSize;
		padding: .5rem;

		border-radius: .4rem;
		background-color: #222;

		svg {
			height: 100%;
			width: 100%;

			border-radius: 100%;
		}
	}
}
