.category-page {
	flex-direction: column;
	padding: 3rem;
}

h1 {
	margin-bottom: 1rem;
	color: white;
	font: 5rem DinMC;
	text-transform: uppercase;
}

.item-list {
	flex-direction: column;
	padding: 2rem;
	background-color: #222;

	span {
		justify-content: flex-start;
		width: 50rem;
		font: 2rem DinRC;
	}
}
