@import 'global';

.prog-bar-wrap {
	@include itemListWrap;
	flex-direction: column;

	> div:first-child {
		justify-content: space-between;
		width: 100%;

		h2, span {
			margin: -.5rem 0;
			font: 4rem DinMC;
			color: white;
			text-transform: uppercase;
		}
	}

	$progBarHeight: 1.5rem;

	.prog-bar {
		position: relative;
		overflow: hidden;
		height: $progBarHeight;
		width: 100%;
		margin-top: $itemListPadding;
		background-color: #333;
		border-radius: .3rem;

		div {
			position: absolute;
			top: 0;
			left: 0;
			height: $progBarHeight;
			width: 4rem;
			background-color: $pos;
			border-radius: .3rem;
		}
	}
}
