@import 'global';

$iconHeight: 5rem;
$linkPadding: 1rem;

.landing-page {
	@include pageWrap;

	flex-direction: column;

	& > ul {
		flex-direction: column;

		li {
			&:not(:last-child) {
				margin-bottom: $linkPadding;
			}
		}

		&:not(:last-child) {
			margin-bottom: 3rem;
		}
	}
}

.cat-link {
	width: 50rem;
	padding: $linkPadding;
	margin: 0 $linkPadding;

	border-radius: .4rem;
	background-color: #333;
	color: white;
	font: 2.5rem DinMC;

	i {
		height: $iconHeight;
		width: $iconHeight;
		border-radius: .4rem;
		background-size: cover;
	}

	span {
		flex-grow: 1;
	}

	&:hover {
		background-color: $cmpGrey;
	}
}

.cat-button {
	$buttonSize: $iconHeight + ($linkPadding * 2);

	position: relative;

	width: $buttonSize;
	height: $buttonSize;
	padding: 1.5rem;

	border-radius: .4rem;
	background-color: #333;

	svg {
		height: 100%;
		width: 100%;
		color: gray;
	}

	i {
		position: absolute;
		top: 0;
		left: 0;

		height: $buttonSize;
		min-width: $buttonSize;

		background-size: cover;
		border-radius: .4rem;
		transform: rotateY(180deg);

		&:hover {
			filter: brightness(110%);
		}
	}

	&:hover {
		background-color: $cmpGrey;
	}
}
