@import 'global';

$inputHeight: 4rem;
$boxPadding: 2rem;
$wrapWidth: 70rem;

.import-page {
	.sctn:not(:last-child) {
		margin-bottom: $pagePadding * .5;
	}

	.sctn__header {
		justify-content: flex-start;
		margin-bottom: $boxPadding * .25;
		color: white;
		font: 4rem DinRC;
	}

	.sctn__input-wrap {
		align-items: stretch;
		width: $wrapWidth;
		padding: $boxPadding;
		border-radius: .4rem;
		background-color: #333;
	}
}
