@import 'global';

$inputHeight: 4rem;
$boxPadding: 2rem;

.char-sctn {
	.char-inputs {
		flex-wrap: wrap;
		flex-grow: 1;

		select, input {
			height: $inputHeight;

			border-radius: .3rem;
			font: 2.5rem DinMC;
		}

		select {
			&:first-child {
				width: 10rem;
				margin-right: $boxPadding * .5;
			}

			&:nth-child(2) {
				flex-grow: 1;
			}
		}

		input {
			width: 100%;
			margin-top: $boxPadding * .5;
			padding: .8rem;

			text-transform: capitalize;
		}
	}

	button {
		height: ($inputHeight * 2) + ($boxPadding * .5);
		min-width: ($inputHeight * 2) + ($boxPadding * .5);
		margin-left: $boxPadding;
		padding: 2rem;

		border-radius: .4rem;
		background-color: $cmpGrey;

		svg {
			height: 100%;
			width: 100%;
		}

		&:hover {
			background-color: #555;
		}
	}

	.import-err {
		margin-top: $pagePadding * .5;

		color: $neg;
		font: 2.5rem DinRC;
	}
}
